@define-color cc-bg rgba(36, 39, 58, 1.0);

@define-color mpris-bg rgb(30, 32, 48);

@define-color noti-border-color rgba(255, 255, 255, 0);
@define-color noti-bg rgb(54, 58, 79);
@define-color noti-bg-hover rgb(73, 77, 100);
@define-color noti-bg-focus rgb(73, 77, 100);
@define-color noti-close-bg rgba(73, 77, 100, 1);
@define-color noti-close-bg-hover rgb(73, 77, 100);
@define-color text rgb(202, 211, 245);

@define-color bg-selected rgb(138, 173, 244);
@define-color scale-trough rgb(244, 219, 214);

@import url("./style.notifications.css");
@import url("./style.widgets.css");
@import url("./themes/catpuccin.mocha.css");

* {
  all: unset;
  transition: 200ms;
}

/* scale {
  padding-left: 21px;
  padding-right: 18px;
}

scale trough {
  background-color: @scale-trough;
}

scale trough highlight {
	background-color: @bg-selected;
	background-image: none;
}

scale trough slider {
	background-color: @bg-selected;
  border: 2px solid @bg-selected;
  box-shadow: none;
} */

/* Window behind control center and on all other monitors */
/* .blank-window {
  background: alpha(black, 0.0);
} */

* {
  all: unset;
  transition: 200ms;
}

*,
.floating-notifications, 
.control-center
{
  font-family: "Iosevka Nerd Font";
}


progressbar, progress, trough {
  border-radius: 12.6px;
}

progressbar {
  box-shadow: inset 0 0 0 1px #45475a;
}

trough {
  background-color: #313244;
}

.control-center trough {
  background-color: #45475a;
}
