@define-color cc-bg rgba(36, 39, 58, 1.0);

@define-color mpris-bg rgb(30, 32, 48);

@define-color noti-bg-hover rgb(73, 77, 100);
@define-color noti-bg-focus rgb(73, 77, 100);
@define-color noti-close-bg rgba(73, 77, 100, 1);
@define-color noti-close-bg-hover rgb(73, 77, 100);
@define-color text rgb(202, 211, 245);
@define-color noti-border-color pink;

@define-color bg-selected rgb(138, 173, 244);
@define-color scale-trough rgb(244, 219, 214);

@define-color window-floating-border pink;
@define-color window-floating-bg rgb(54, 58, 79);

@define-color notification-border cyan;
@define-color notification-background rgba(0,0,0,0.5);

/*
 * FLOATING NOTIFICATION CONTAINER
 */

/* The outer box containing all pop-up notifications */

.floating-notifications {
}

/* The inner box surrounding all notifications  */

.floating-notifications > scrolledwindow > viewport > box { 
  margin: 0;
  background-color: @window-floating-bg;
  border-top: 0;
  border-right: 0;
  border-left: 1px solid @window-floating-border;
  border-bottom: 6px solid @window-floating-border;
  border-radius: 0 0 0 20px;
  padding: 0.5em;

}


.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #1e1e2e;
  background-color: #f38ba8;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: #eba0ac;
  color: #1e1e2e;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: #f38ba8;
  color: #1e1e2e;
}










/*
 * CONTROL CENTER ONLY
 */
 
.control-center {
  background: @cc-bg;
  border-radius: 10px;
  border: 2px solid rgb(125, 196, 228);
}

.control-center-list {
  background: none;
}

.control-center-list-placeholder {
  opacity: 0.0;
}



.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #313244;
  border-radius: 12.6px;
  margin: 18px;
  background-color: #1e1e2e;
  color: #cdd6f4;
  padding: 14px;
}

.control-center .widget-title {
  color: #cdd6f4;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: #cdd6f4;
  background-color: #313244;
  box-shadow: inset 0 0 0 1px #45475a;
  padding: 8px;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #585b70;
  color: #cdd6f4;
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #74c7ec;
  color: #1e1e2e;
}

/*
 * NONTIFICATIONs
 */
 
.notification-row {
}

/* The actual notification container */

.notification-row .notification-background .notification {
  background-color: @notification-background;
  border-radius: 0.6em;
  margin: 0.4em;
  border: 3px solid pink;
  border-width: 0px 6px;
}

.notification-row .notification-background .notification.critical {
  border-color: red;
}

.notification-row .notification-background .notification .notification-content {
  /* padding: 5px 0; */
  color: @foreground;
  margin: 7px;
}
  

.notification-row .notification-background .notification .notification-content .summary {
  color: #cdd6f4;
}

.notification-row .notification-background .notification .notification-content .time {
  color: #a6adc8;
}

.notification-row .notification-background .notification .notification-content .body {
  color: #cdd6f4;
}

.notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: #cdd6f4;
  background-color: #313244;
  box-shadow: inset 0 0 0 1px #45475a;
  margin: 7px;
}

.notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #313244;
  color: #cdd6f4;
}

.notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #74c7ec;
  color: #cdd6f4;
}

.notification.critical progress {
  background-color: #f38ba8;
}

.notification.low progress, .notification.normal progress {
  background-color: #89b4fa;
}