
/* Mpris widget */
.widget-mpris {
    /* The parent to all players */
    color: @foreground;
  }
  .widget-mpris-player {
    padding: 8px;
    margin: 8px;
    color: @foreground;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .widget-mpris-title {
    font-weight: bold;
    font-size: 1.25rem;
    color: @foreground;
    letter-spacing: 2px;
    font: bold 1em Megrim;
  }
  .widget-mpris-subtitle {
    font-size: 1em;
    color: @foreground;
  }
  
  
  /* Inhibitors widget */
  .widget-inhibitors {
    margin: 8px;
    font-size: 1.5rem;
  }
  .widget-inhibitors > button {
    font-size: initial;
    color: @foreground;
    text-shadow: none;
    background: @background;
    border: 1px solid @color6;
    box-shadow: none;
    border-radius: 12px;
  }
  .widget-inhibitors > button:hover {
    /* background: @noti-bg-hover; */
  }













/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 12px;
  font-size: 1.5rem;
}
.widget-title > button {
  font-size: initial;
  color: @text;
  text-shadow: none;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
  border-radius: 10px;
}
.widget-title > button:hover {
  background: @noti-bg-hover;
}
.widget-title > button:active {
  background: @noti-bg;
}

/* DND widget */
.widget-dnd {
  margin: 12px;
  font-size: 1.1rem;
}
.widget-dnd > switch {
  font-size: initial;
  border-radius: 10px;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
}
.widget-dnd > switch:checked {
  background: @bg-selected;
}
.widget-dnd > switch slider {
  background: @noti-bg-hover;
  border-radius: 10px;
}

/* Label widget */
.widget-label {
  margin: 12px;
}
.widget-label > label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
}
.widget-mpris-player {
  padding: 12px;
  margin: 12px;
  margin-top: 0;
  background-color: @mpris-bg;
  border-radius: 10px;
}
.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}
.widget-mpris-subtitle {
  font-size: 1.1rem;
}

/* Buttons widget */
.widget-buttons-grid {
  padding: 12px;
  margin: 12px;
  border-radius: 10px;
  background-color: @noti-bg;
}

.widget-buttons-grid>flowbox>flowboxchild>button{
  background: @noti-bg;
  border-radius: 10px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @noti-bg-hover;
}

/* Menubar widget */
.widget-menubar>box>.menu-button-bar>button {
  border: none;
  background: none;
}

/* .AnyName { Name defined in config after #
  background-color: @noti-bg;
  padding: 12px;
  margin: 12px;
  border-radius: 10px;
}

.AnyName>button {
  background: none;
  border: none;
}

.AnyName>button:hover {
  background-color: @noti-bg-hover;
} */

.topbar-buttons>button { /* Name defined in config after # */
  border: none;
  background: none;
}

/* Volume widget */

.widget-volume {
  background-color: @mpris-bg;
  padding: 12px;
  margin: 12px;
  border-radius: 10px;
  font-size: 30px;
}

/* Backlight widget */
.widget-backlight {
 background-color: @noti-bg;
  padding: 12px;
  margin: 12px;
  border-radius: 10px;
}

/* Title widget */
.widget-inhibitors {
  margin: 12px;
  font-size: 1.5rem;
}









.widget-buttons-grid{
  padding: 0px 8px 8px;
  margin: 0px 8px 8px;
  border-radius: 0px 0px 4px 4px;
  background-color: @noti-bg;
  font-size: 14px;
}

.widget-buttons-grid>flowbox>flowboxchild>button{
  background: @noti-bg;
  border-radius: 4px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @noti-bg-hover;
}

.screenshot-buttons,
.screencast-buttons,
.powermode-buttons,
.power-buttons{
  border-radius: 4px;
}

.screenshot-buttons>button,
.screencast-buttons>button,
.powermode-buttons>button,
.power-buttons>button{
  background: transparent;
  padding: 2px 0px;
  margin: 5px 70px 3px;
  border: 1px solid @noti-border-color;
}

.screenshot-buttons>button:hover,
.screencast-buttons>button:hover,
.powermode-buttons>button:hover,
.power-buttons>button:hover{
  background: @noti-bg-hover;
}