@import url("./themes/_ncx.css");
/* @import url("./themes/catppuccin_mocha.css"); */

@define-color bar_bg alpha(@background, 0.8);
@define-color inset1_bg alpha(@inset1, 1);
@define-color inset2_bg alpha(@inset2, 1);
@define-color inset3_bg alpha(@inset3, 0.7);

@keyframes blink {
  to {
      color: white;
      background-color: black;
  }
}

@keyframes batterycritical {
  0% {
    color: @alert;
  }

  25% {
      color: red;
  }

  50% {
      color: white;
  }
}

@keyframes batterycharging {
  0% {
    color: @foreground;
  }

  70% {
    color: limegreen;
  }

  80% {
      color: yellow;
  }

  100% {
      color: @foreground;
  }
}

* {
  border: none;
  border-radius: 0;
  color: @foreground;
  font-family: "Iosevka Nerd Font Mono";
  font-size: 1px;
  min-height: 0;
  transition: none;
  box-shadow: none;
  margin:0;
  padding:0;
}

window#waybar {
  /* border: 1px solid @border; */
  background: @bar_bg;
  /* background: transparent; */
  padding:0;
}

.modules-left,.modules-center,.modules-right{
  padding-bottom:4px;
}

.modules-left{
  border-radius: 0 90px 90px 0;
}
.modules-center{
  border-radius: 90px;

}
.modules-right{
  border-radius: 90px 0 0 90px;
}

tooltip,tooltip,tray,tray *{
  font-size:16px;
}

tooltip {
  border: 3px solid @border;
  border-top: 0;
  border-radius: 0 0 8px 8px;
  background-color: @inset2;
  padding:0;
  margin:0;
}

tooltip label {
  border: 2px solid @border;
  padding: 12px;
  margin: 0 4px 4px 4px;
  color: @subforeground;
  background-color: @inset3;
}

/*COMMON STUF */

/* DO TO ALL */
#clock.dateicon,
#clock.datevalue,
#clock.timeicon,
#clock.timevalue,
#custom-weather,
#battery.value,
#battery.icon,
#disk.value,
#disk.icon,
#network.value,
#network.icon,
#memory.value,
#memory.icon,
#backlight.icon,
#backlight.value,
#pulseaudio.icon,
#pulseaudio.value,
#temperature.value,
#temperature.icon,
#cpu.value,
#cpu.bars,
#cpu.icon {
  font-size: 12px;
  font-weight: bold;
  border:2px solid @border;
}

/* DO TO VALUES */
#clock.datevalue,
#clock.timevalue,
#custom-weather,
#battery.value,
#disk.value,
#network.value,
#memory.value,
#backlight.value,
#pulseaudio.value,
#temperature.value,
#cpu.bars ,
#cpu.value {
  color: @foreground;
  background-color: @inset1_bg;
  border-left:0;
  padding:0px 9px 0 3px;
}

/* DO TO  ALL ICONS */
#clock.dateicon,
#clock.timeicon,
#battery.icon ,
#disk.icon ,
#network.icon ,
#memory.icon ,
#backlight.icon,
#pulseaudio.icon,
#temperature.icon,
#cpu.icon
{
  color: @icon;
  font-size: 24px;
  font-weight: bold;
  background-color: @inset2_bg;
  border-right:0;
  padding:0px 3px 0 6px;
}

/* Left edges */
#clock.dateicon,
#disk.icon,
#network.icon,
#memory.icon,
#backlight.icon,
#pulseaudio.icon,
#temperature.icon,
#cpu.icon {
  border-radius: 10px 0px 0px 10px;
  margin:0;
}

/* Right edges */
#battery.value,
#disk.value,
#network.value,
#memory.value,
#backlight.value,
#pulseaudio.value,
#temperature.value,
#cpu.value 
{
  border-radius: 0px 10px 10px 0px;
  margin:0 12px 0 0;
}

/* Middle srow seats */
#battery.icon,
#backlight.value,
#pulseaudio.icon,
#clock.datevalue,
#clock.timeicon,
#clock.timevalue,
#custom-weather,
#cpu.bars,
#cpu.value,
#memory.icon,
#memory.value,
#temperature.icon
{
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  margin:0;
}
/** ********** Custom ********** **/

#backlight.icon{
  font-size:12px;
}

#custom-menu, #custom-power{
  background-color: @background;
  color: @foreground;
  border: 4px solid @border;
  padding: 0 12px;
  border-top:none;
}

#custom-menu {
  border-radius: 0 0 500px 0;
  margin:0 12px 0 0;
  border-left:none;
}

#custom-power {
  border-radius: 0 0 0 500px;
  margin:0 0 0 12px;
  border-right:none;
}

#tray,
#workspaces,
#taskbar  {
  background-color: @inset3_bg;
  border-radius: 13px;
  padding: 4px 6px;
  margin: 0 12px 0 0;
  border: 2px solid @border;
}

#tray * {
  background-color: transparent;
  padding: 0 8px;
}

#temperature#icon.critical {
  color: #800020;
  background-color: #ffffff;
}
#temperature#value.critical {
  color: #800020;
}

/* BATTERY STUFF */

#battery.icon.charging,#battery.value.charging {
  color: yellow;
  animation-name: batterycharging;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#battery.icon.warning:not(.charging),
#battery.value.warning:not(.charging) {
  color: yellow;
}

#battery.icon.low:not(.charging) ,
#battery.value.low:not(.charging) {
  color: @alert;
}

#battery.icon.critical:not(.charging),
#battery.value.critical:not(.charging) {
  color: @alert;
  animation-name: batterycritical;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#battery.value.critical:not(.charging) {
  background-color: #662200;
}


#workspaces *{
  font-size:16px;
}

#workspaces button,
#taskbar button {
  padding: 6px 3px 0;
  border-bottom: 4px solid transparent;
}

/* #workspaces button.visible, #workspaces button.visible * {} */
/* #workspaces button.urgent {  border-radius: 10px; } */

#workspaces button.active,
#taskbar button.active {
  /* color: @highlight; */
  background-color:@inset2;
  border-radius: 6px;
}

#workspaces button.active * {
  font-weight: bolder;
}
