@import url("./themes/_gtk.css");
@import url("./themes/_ncx.css");
/* @import url("./themes/catppuccin_mocha.css"); */

@import url("./style.animation.css");

@define-color bar_bg alpha(@background, 0.8);
@define-color inset1_bg alpha(@inset1, 0.9);
@define-color inset2_bg alpha(@inset2, 0.9);
@define-color inset3_bg alpha(@inset3, 0.7);


/* Resets  */

* {
  /* border: none; */
  border-radius: 0;
  color: @foreground;
  font-family: "Iosevka Nerd Font Mono";
  /* font-size: 1px; */
  min-height: 0;
  transition: none;
  box-shadow: none;
  margin:0;
  padding:0;
}


#waybar > .horizontal
{
  background-color: rgba(30,30,30,0.7);
}

#waybar > .horizontal *
{
  margin-top:0;padding-top:0;
  margin-bottom:0;padding-bottom:0;
  min-height:0;
  border:0;
  border-radius: 0;
}

/*COMMON STUF */

/* DO TO ALL */
#clock.dateicon,
#clock.datevalue,
#clock.timeicon,
#clock.timevalue,
#custom-weather,
#custom-notificationicon,
#custom-notificationvalue,
#battery.value,
#battery.icon,
#disk.value,
#disk.icon,
#network.value,
#network.icon,
#network.upvalue,
#network.upicon,
#network.downvalue,
#network.downicon,
#memory.value,
#memory.icon,
#backlight.icon,
#backlight.value,
#pulseaudio.icon,
#pulseaudio.value,
#temperature.value,
#temperature.icon,
#cpu.value,
#cpu.bars,
#cpu.icon {
  font-size: 12px;
  font-weight: bold;
}

/* DO TO VALUES */
#clock.datevalue,
#clock.timevalue,
#custom-weather,
#custom-notificationvalue,
#battery.value,
#disk.value,
#network.value,
#network.upvalue,
#network.downvalue,
#memory.value,
#backlight.value,
#pulseaudio.value,
#temperature.value,
#cpu.bars ,
#cpu.value {
  color: @foreground;
  background-color: @inset1_bg;
  border-left:0;
  padding:0px 9px 0 3px;
}

/* DO TO  ALL ICONS */
#clock.dateicon,
#clock.timeicon,
#battery.icon ,
#disk.icon ,
#network.icon ,
#network.upicon ,
#network.downicon ,
#memory.icon ,
#backlight.icon,
#pulseaudio.icon,
#temperature.icon,
#custom-notificationicon,
#cpu.icon
{
  color: @icon;
  font-size: 24px;
  font-weight: bold;
  background-color: @inset2_bg;
  border-right:0;
  padding:0px 3px 0 6px;
}

/* Left edges */
#clock.dateicon,
/* #cpu.icon, */
#disk.icon,
#network.icon,
#memory.icon,
#backlight.icon,
#pulseaudio.icon,
#temperature.icon {
  border-radius: 10px 0px 0px 10px;
  margin:0;
}

/* Right edges */
/* #battery.value, */
#disk.value,
#network.downvalue,
#memory.value,
#backlight.value,
#pulseaudio.value,
#temperature.value,
#cpu.value 
{
  border-radius: 0px 10px 10px 0px;
  margin:0 12px 0 0;
}

/* Middle srow seats */
#battery.icon,
#backlight.value,
#pulseaudio.icon,
#clock.datevalue,
#clock.timeicon,
#clock.timevalue,
#custom-weather,
#custom-notificationvalue,
#cpu.bars,
#cpu.value,
#memory.icon,
#memory.value,
#temperature.icon
{
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  margin:0;
}
/** ********** Custom ********** **/

#backlight.icon{
  font-size:12px;
}

#temperature.icon.critical {
  color: @alert;
}
#temperature.value.critical {
  color: @alert;
}

window#waybar #custom-notificationicon.notification {
	color: @alert;
}

window#waybar #custom-notificationvalue.notification {
	color: @highlight;
}

/* BATTERY STUFF */

#battery.icon.charging,#battery.value.charging {
  color: yellow;
  animation-name: batterycharging;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#battery.icon.warning:not(.charging),
#battery.value.warning:not(.charging) {
  color: yellow;
}

#battery.icon.low:not(.charging) ,
#battery.value.low:not(.charging) {
  color: @alert;
}

#battery.icon.critical:not(.charging),
#battery.value.critical:not(.charging) {
  color: @alert;
  animation-name: batterycritical;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#battery.value.critical:not(.charging) {
  background-color: #662200;
}

/* TRAY */

#tray{
  background-color: @inset3;
  margin: 0;
  padding:0 5px 0 0;
  border: 5px solid @border;
}

#tray .active {
  margin:0;
  padding:0;
}

window#waybar #custom-middlemargin {
  background-color: @inset3;
  margin:0;
}

window#waybar #custom-leftmargin {
  border-radius: 100px 0px 0px 100px;
  background-color: @inset3;
  border-left:5px solid @border;
  margin-right:0;
}

window#waybar #custom-rightmargin {
  border-radius: 0px 100px 100px 0px;
  background-color: @inset3;
  border-right:5px solid @border;
  margin-left:0;
}

/* WORKSPACE AND TASKBAR STUFF */

#workspaces {
  margin-bottom:30px;
  padding:10px;
}

#workspaces *{
  font-size:16px;
}

#workspaces button,
#taskbar button {
  padding: 6px;
  border-left: 4px solid transparent;
}

/* #workspaces button.visible, #workspaces button.visible * {} */
/* #workspaces button.urgent {  border-radius: 10px; } */

#workspaces button.active,
#taskbar button.active {
  /* color: @highlight; */
  background-color:@inset2;
}

#workspaces button.active * {
  font-weight: bolder;
  color:#bbff00;
}

#workspaces,
#taskbar  {
  background-color: @inset3_bg;
  margin:0;
}

tooltip{
  border: 3px solid @border;
  border-radius:12px;
  background-color: @inset2;
  padding:0;
  margin:6px;
}

tooltip label {
  font-size:14px;
  border: 2px solid @border;
  padding: 12px;
  margin: 4px;
  color: @subforeground;
  background-color: @inset3;
}

window#waybar #tray menu {
  border: 3px solid @border;
  border-radius:12px;
  background-color: @inset2;
  padding:12px 6px;
  margin:6px;
}