@keyframes blink {
  to {
      color: @highlight;
      /* background-color: black; */
  }
}

@keyframes batterycritical {
  0% {
    color: @alert;
  }

  25% {
      color: red;
  }

  50% {
      color: white;
  }
}

@keyframes batterycharging {
  0% {
    color: @foreground;
  }

  70% {
    color: limegreen;
  }

  80% {
      color: yellow;
  }

  100% {
      color: @foreground;
  }
}
